body {
  font-family: 'Brush Script MT', cursive;
  background: lightblue;
}

h4 {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid orange;
}

p {
    padding: none;
    margin: none;
}

button {
  margin: 15px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  background: white;
  width: 125px;
  height: 125px;
  border-style: solid;
  border-color: rgb(22, 22, 22);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 455px;
  height: 455px;
}

.mole {
  background-image: url('Giant_Mole.png');
  background-size: cover;
}

button {
  background: white;
  cursor: pointer;
  color: green;
  border-radius: 10px;
  font-size: 1.2rem;
  height: 60px;
  width: 200px;
}
